target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
/lib/javax.annotation.jar
/lib/javax.ejb.jar
/lib/javax.jms.jar
/lib/javax.persistence.jar
/lib/javax.resource.jar
/lib/javax.servlet.jar
/lib/javax.servlet.jsp.jar
/lib/javax.servlet.jsp.jstl.jar
/lib/javax.transaction.jar
